#series_parts_list li {
    cursor: move;
    /* الماوس يبقى يد */
    padding: 6px 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 4px;
    border-radius: 4px;
}

#series_parts_list li:hover {
    background: #f0f0f0;
}

#series_parts_list li.ui-sortable-helper {
    opacity: 0.8;
    /* العنصر اللي بيتسحب يظهر شفاف */
    background: #e0e0e0;
}